<div class="container">
    <div class="row">
        <div class="col">
            <h2>Burgers that are not devoured!</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <h2>Burgers that are devoured!</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block }}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="text-center">
        <div class="col">
            <form class="create-form">
                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                    <input type="radio" name="devoured" value="0"> SURE?
                </div>
                <button type="submit">Add Burger</button>
            </form>
        </div>
        <br>
        <br>
    </div>
</div>